*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: monospace;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(white, paleturquoise,rgb(14, 222, 222));
    background-repeat: no-repeat;
    height: 100vh;
}

header{
    font-size: 24px;
    text-align: center;
    text-shadow: 2px 1px 2px grey;
}

.count{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
}

#count{
    margin-top: 100px;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    gap: 40px;
}

.increment{
    background-color: greenyellow;
    width: 150px;
    height: 50px;
    box-shadow: 1px 1px 1px black;
    border: none;
    cursor: pointer;

}


.decrement{
    background-color: red;
    width: 150px;
    height: 50px;
    box-shadow: 1px 1px 1px black;
    border: none;
    cursor: pointer;

}

.reset{
    background-color: blue;
    width: 150px;
    height: 50px;
    box-shadow: 1px 1px 1px black;
    border: none;
    cursor: pointer;

}

.plus{
    background-color: yellow;
    width: 150px;
    height: 50px;
    box-shadow: 1px 1px 1px black;
    border: none;
    cursor: pointer;
}

@media screen  and (max-width: 768px) {
    .btn{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
        gap: 20px;
    }
    
    .increment, .decrement, .reset, .plus{
       
        width: 100px;
        height: 40px;
        box-shadow: 1px 1px 1px black;
        border: none;
        cursor: pointer;
    
    }
    
}